@model NeurologicalExaminationFindings
@{
    var title = "B8 Neurological Examination Findings";
    var visitInfo = "";
    if (visitInfo == null)
    {
        visitInfo = " - " + Model.Visit.Participant.Id + " - Visit " + Model.Visit.VisitNumber;
    }
    ViewData["Title"] = title + visitInfo;
}

@await Component.InvokeAsync("VisitHeader", new { visitId = Model.Visit.Id, participationId = Model.Visit.Participant.Id, participantProfile = Model.Visit.Participant.Profile })
@await Component.InvokeAsync("FormHeader", new { currentVisit = Model.Visit, currentForm = Model, formTitle = title })

<div class="row">
    <div class="col">
        <p class="lead">INSTRUCTIONS: This form must be completed by a clinician with experience in assessing the neurological signs listed below and in attributing the observed findings to a particular syndrome. Please use your best clinical judgment in assigning the syndrome. For additional clarification and examples, see UDS Coding Guidebook for @Html.DisplayTextFor(v => v.Visit.VisitType) Visit Packet, Form B8.</p>
    </div>
</div>

<form method="POST" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <table class="table table-stiped table-bordered">
        <thead>
            <tr class=" table-secondary">
                <th colspan="7">
                    <label asp-for="AbnormalNeurologicalExamFindings" class="control-label"></label><br>
                    <span asp-validation-for="AbnormalNeurologicalExamFindings" class="text-danger"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="AbnormalNeurologicalExamFindings" id="AbnormalNeurologicalExamFindings[0]" value="0" data-always-enabled />
                        <label class="form-check-label" for="AbnormalNeurologicalExamFindings[0]"> <span class="badge badge-pill badge-light">0</span> No abnormal findings <span class="text-uppercase font-weight-light font-italic text-primary">(END FORM HERE)</span></label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="AbnormalNeurologicalExamFindings" id="AbnormalNeurologicalExamFindings[1]" data-always-enabled value="1" />
                        <label class="form-check-label" for="AbnormalNeurologicalExamFindings[1]"> <span class="badge badge-pill badge-light">1</span> Yes - abnormal findings were consistent with syndromes listed in Questions 2–8</label>
                    </div>

                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="AbnormalNeurologicalExamFindings" id="AbnormalNeurologicalExamFindings[2]" data-always-enabled value="2" />
                        <label class="form-check-label" for="AbnormalNeurologicalExamFindings[2]"> <span class="badge badge-pill badge-light">2</span> Yes - abnormal findings were consistent with age-associated changes or irrelevant to dementing disorders (e.g., Bell's palsy) <span class="text-uppercase font-weight-light font-italic text-primary">(SKIP TO QUESTION 8)</span></label>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class="table-primary">
                <th colspan="7">INSTRUCTIONS FOR QUESTIONS 2 – 8</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    Please complete the appropriate sections below, using your best clinical judgment in selecting findings that indicate the likely syndrome(s) that is/are present.
                    <div>
                        <span asp-validation-for="AtLeastOneFindingSyndromeIndicated" class="text-danger"></span>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class="table-primary">
                <th colspan="7">
                    CHECK ALL OF THE GROUPS OF FINDINGS / SYNDROMES THAT WERE PRESENT:
                </th>
            </tr>
            <tr class="table-secondary">
                <th colspan="7">
                    <label asp-for="ParkinsonianSigns" class="control-label"></label><br>
                    <span asp-validation-for="ParkinsonianSigns" class="text-danger"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="form-check">
                        <input class="form-check-input"  
                            type="radio" asp-for="ParkinsonianSigns" 
                            id="ParkinsonianSigns[0]"
                            data-parent value="false" />
                        <label class="form-check-label" for="ParkinsonianSigns[0]"> <span class="badge badge-pill badge-light">0</span> No <span class="text-uppercase font-weight-light font-italic text-primary">(SKIP TO QUESTION 3)</span></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input"  type="radio" asp-for="ParkinsonianSigns" id="ParkinsonianSigns[1]" data-parent value="true" />
                        <label class="form-check-label" for="ParkinsonianSigns[1]"> <span class="badge badge-pill badge-light">1</span> Yes</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="1">
                    <i>Findings should be marked as Yes, No, or Not assessed.</i>
                </td>
                <td colspan="3" class="table-primary text-center">
                    LEFT
                </td>
                <td colspan="3" class="table-primary  text-center">
                    RIGHT
                </td>
            </tr>
            <tr>
                <td class="table-primary">
                    Parkinsonian signs
                </td>
                <td class=" table-secondary text-center">
                    Yes
                </td>
                <td class=" table-secondary text-center">
                    No
                </td>
                <td class=" table-secondary text-center">
                    Not assessed
                </td>
                <td class=" table-secondary text-center">
                    Yes
                </td>
                <td class=" table-secondary text-center">
                    No
                </td>
                <td class=" table-secondary text-center">
                    Not assessed
                </td>
            </tr>
            <!-- 2a. Resting tremor — arm -->
            <tr>
                <td>
                    2a. Resting tremor — arm <br>
                    <span asp-validation-for="ParkinsonianLeftRestingTremorArm" class="text-danger"></span> <br>
                    <span asp-validation-for="ParkinsonianRightRestingTremorArm" class="text-danger"></span>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftRestingTremorArm" id="ParkinsonianLeftRestingTremorArm[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianLeftRestingTremorArm[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftRestingTremorArm" id="ParkinsonianLeftRestingTremorArm[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianLeftRestingTremorArm[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftRestingTremorArm" id="ParkinsonianLeftRestingTremorArm[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianLeftRestingTremorArm[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightRestingTremorArm" id="ParkinsonianRightRestingTremorArm[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianRightRestingTremorArm[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightRestingTremorArm" id="ParkinsonianRightRestingTremorArm[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianRightRestingTremorArm[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightRestingTremorArm" id="ParkinsonianRightRestingTremorArm[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianRightRestingTremorArm[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <!--2b. Slowing of fine motor movements -->
            <tr>
                <td>
                    2b. Slowing of fine motor movements<br>
                    <span asp-validation-for="ParkinsonianLeftSlowingOfFineMotorMovements" class="text-danger"></span><br>
                    <span asp-validation-for="ParkinsonianRightSlowingOfFineMotorMovements" class="text-danger"></span>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftSlowingOfFineMotorMovements" id="ParkinsonianLeftSlowingOfFineMotorMovements[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianLeftSlowingOfFineMotorMovements[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftSlowingOfFineMotorMovements" id="ParkinsonianLeftSlowingOfFineMotorMovements[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianLeftSlowingOfFineMotorMovements[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftSlowingOfFineMotorMovements" id="ParkinsonianLeftSlowingOfFineMotorMovements[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianLeftSlowingOfFineMotorMovements[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightSlowingOfFineMotorMovements" id="ParkinsonianRightSlowingOfFineMotorMovements[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianRightSlowingOfFineMotorMovements[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightSlowingOfFineMotorMovements" id="ParkinsonianRightSlowingOfFineMotorMovements[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianRightSlowingOfFineMotorMovements[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightSlowingOfFineMotorMovements" id="ParkinsonianRightSlowingOfFineMotorMovements[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianRightSlowingOfFineMotorMovements[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <!-- 2c. Rigidity — arm -->
            <tr>
                <td>
                    2c. Rigidity — arm<br>
                    <span asp-validation-for="ParkinsonianLeftRigidityArm" class="text-danger"></span><br>
                    <span asp-validation-for="ParkinsonianRightRigidityArm" class="text-danger"></span>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftRigidityArm" id="ParkinsonianLeftRigidityArm[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianLeftRigidityArm[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftRigidityArm" id="ParkinsonianLeftRigidityArm[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianLeftRigidityArm[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianLeftRigidityArm" id="ParkinsonianLeftRigidityArm[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianLeftRigidityArm[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightRigidityArm" id="ParkinsonianRightRigidityArm[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianRightRigidityArm[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightRigidityArm" id="ParkinsonianRightRigidityArm[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianRightRigidityArm[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianRightRigidityArm" id="ParkinsonianRightRigidityArm[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianRightRigidityArm[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="1"></td>
                <td colspan="2" class=" table-secondary text-center">
                    Yes
                </td>
                <td colspan="2" class=" table-secondary text-center">
                    No
                </td>
                <td colspan="2" class=" table-secondary text-center">
                    Not assessed
                </td>
            </tr>
            <tr>
                <td>
                    2d. Bradykinesia<br>
                    <span asp-validation-for="ParkinsonianBradykinesia" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianBradykinesia" id="ParkinsonianBradykinesia[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianBradykinesia[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianBradykinesia" id="ParkinsonianBradykinesia[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianBradykinesia[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianBradykinesia" id="ParkinsonianBradykinesia[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianBradykinesia[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    2e. Parkinsonian gait disorder<br>
                    <span asp-validation-for="ParkinsonianGaitDisorder" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianGaitDisorder" id="ParkinsonianGaitDisorder[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianGaitDisorder[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianGaitDisorder" id="ParkinsonianGaitDisorder[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianGaitDisorder[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianGaitDisorder" id="ParkinsonianGaitDisorder[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianGaitDisorder[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    2f. Postural instability<br>
                    <span asp-validation-for="ParkinsonianPosturalInstability" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianPosturalInstability" id="ParkinsonianPosturalInstability[1]" value="1" />
                        <label class="form-check-label" for="ParkinsonianPosturalInstability[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianPosturalInstability" id="ParkinsonianPosturalInstability[0]" value="0" />
                        <label class="form-check-label" for="ParkinsonianPosturalInstability[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ParkinsonianPosturalInstability" id="ParkinsonianPosturalInstability[8]" value="8" />
                        <label class="form-check-label" for="ParkinsonianPosturalInstability[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class=" table-secondary">
                <th colspan="7">
                    <label asp-for="CerebrovascularDiseaseSigns" class="control-label"></label><br>
                    <span asp-validation-for="CerebrovascularDiseaseSigns" class="text-danger"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="CerebrovascularDiseaseSigns" id="CerebrovascularDiseaseSigns[0]" value="false" />
                        <label class="form-check-label" for="CerebrovascularDiseaseSigns[0]"> <span class="badge badge-pill badge-light">0</span> No <span class="text-uppercase font-weight-light font-italic text-primary">(SKIP TO QUESTION 4)</span></label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" asp-for="CerebrovascularDiseaseSigns" id="CerebrovascularDiseaseSigns[1]" value="true" />
                        <label class="form-check-label" for="CerebrovascularDiseaseSigns[1]"> <span class="badge badge-pill badge-light">1</span> Yes</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <i>Findings should be marked as Yes, No, or Not assessed.</i>
                </td>
                <td class="table-primary text-center" colspan="7">
                    PRESENT
                </td>
            </tr>
            <tr>
                <td colspan="1" class="table-primary">Findings consistent with stroke/cerebrovascular disease</td>
                <td colspan="2" class=" table-secondary text-center">
                    Yes
                </td>
                <td colspan="2" class=" table-secondary text-center">
                    No
                </td>
                <td colspan="2" class=" table-secondary text-center">
                    Not assessed
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="CorticalCognitiveDeficit" class="control-label"></label><br>
                    <span asp-validation-for="CorticalCognitiveDeficit" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalCognitiveDeficit" id="CorticalCognitiveDeficit[1]" value="1" />
                        <label class="form-check-label" for="CorticalCognitiveDeficit[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalCognitiveDeficit" id="CorticalCognitiveDeficit[0]" value="0" />
                        <label class="form-check-label" for="CorticalCognitiveDeficit[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalCognitiveDeficit" id="CorticalCognitiveDeficit[8]" value="8" />
                        <label class="form-check-label" for="CorticalCognitiveDeficit[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <label asp-for="CorticalSIVD" class="control-label"></label><br>
                    <span asp-validation-for="CorticalSIVD" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSIVD" id="CorticalSIVD[1]" value="1" />
                        <label class="form-check-label" for="CorticalSIVD[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSIVD" id="CorticalSIVD[0]" value="0" />
                        <label class="form-check-label" for="CorticalSIVD[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSIVD" id="CorticalSIVD[8]" value="8" />
                        <label class="form-check-label" for="CorticalSIVD[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td colspan="3" class="table-primary text-center">
                    LEFT
                </td>
                <td colspan="3" class="table-primary  text-center">
                    RIGHT
                </td>
            </tr>
            <tr>
                <td class=" table-secondary text-center">
                    Yes
                </td>
                <td class=" table-secondary text-center">
                    No
                </td>
                <td class=" table-secondary text-center">
                    Not assessed
                </td>
                <td class=" table-secondary text-center">
                    Yes
                </td>
                <td class=" table-secondary text-center">
                    No
                </td>
                <td class=" table-secondary text-center">
                    Not assessed
                </td>
            </tr>
            <tr>
                <td>
                    3c. Motor (may include weakness of combinations of face, arm, and leg; reflex changes; etc.) <br>
                    <span asp-validation-for="CorticalMotorLeft" class="text-danger"></span> <br>
                    <span asp-validation-for="CorticalMotorRight" class="text-danger"></span>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalMotorLeft" id="CorticalMotorLeft[1]" value="1" />
                        <label class="form-check-label" for="CorticalMotorLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalMotorLeft" id="CorticalMotorLeft[0]" value="0" />
                        <label class="form-check-label" for="CorticalMotorLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalMotorLeft" id="CorticalMotorLeft[8]" value="8" />
                        <label class="form-check-label" for="CorticalMotorLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalMotorRight" id="CorticalMotorRight[1]" value="1" />
                        <label class="form-check-label" for="CorticalMotorRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalMotorRight" id="CorticalMotorRight[0]" value="0" />
                        <label class="form-check-label" for="CorticalMotorRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalMotorRight" id="CorticalMotorRight[8]" value="8" />
                        <label class="form-check-label" for="CorticalMotorRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    3d. Cortical visual field loss <br>
                    <span asp-validation-for="CorticalVisualFieldLossLeft" class="text-danger"></span> <br>
                    <span asp-validation-for="CorticalVisualFieldLossRight" class="text-danger"></span>

                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalVisualFieldLossLeft" id="CorticalVisualFieldLossLeft[1]" value="1" />
                        <label class="form-check-label" for="CorticalVisualFieldLossLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalVisualFieldLossLeft" id="CorticalVisualFieldLossLeft[0]" value="0" />
                        <label class="form-check-label" for="CorticalVisualFieldLossLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalVisualFieldLossLeft" id="CorticalVisualFieldLossLeft[8]" value="8" />
                        <label class="form-check-label" for="CorticalVisualFieldLossLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalVisualFieldLossRight" id="CorticalVisualFieldLossRight[1]" value="1" />
                        <label class="form-check-label" for="CorticalVisualFieldLossRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalVisualFieldLossRight" id="CorticalVisualFieldLossRight[0]" value="0" />
                        <label class="form-check-label" for="CorticalVisualFieldLossRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalVisualFieldLossRight" id="CorticalVisualFieldLossRight[8]" value="8" />
                        <label class="form-check-label" for="CorticalVisualFieldLossRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    3e. Somatosensory loss<br>
                    <span asp-validation-for="CorticalSomatosensoryLossLeft" class="text-danger"></span> <br>
                    <span asp-validation-for="CorticalSomatosensoryLossRight" class="text-danger"></span>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSomatosensoryLossLeft" id="CorticalSomatosensoryLossLeft[1]" value="1" />
                        <label class="form-check-label" for="CorticalSomatosensoryLossLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSomatosensoryLossLeft" id="CorticalSomatosensoryLossLeft[0]" value="0" />
                        <label class="form-check-label" for="CorticalSomatosensoryLossLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSomatosensoryLossLeft" id="CorticalSomatosensoryLossLeft[8]" value="8" />
                        <label class="form-check-label" for="CorticalSomatosensoryLossLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSomatosensoryLossRight" id="CorticalSomatosensoryLossRight[1]" value="1" />
                        <label class="form-check-label" for="CorticalSomatosensoryLossRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSomatosensoryLossRight" id="CorticalSomatosensoryLossRight[0]" value="0" />
                        <label class="form-check-label" for="CorticalSomatosensoryLossRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CorticalSomatosensoryLossRight" id="CorticalSomatosensoryLossRight[8]" value="8" />
                        <label class="form-check-label" for="CorticalSomatosensoryLossRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class=" table-secondary">
                <th colspan="7">
                    <label asp-for="HigherCorticalVisual" class="control-label"></label><br>
                    <span asp-validation-for="HigherCorticalVisual" class="text-danger"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="HigherCorticalVisual" id="HigherCorticalVisual[0]" value="false" />
                        <label class="form-check-label" for="HigherCorticalVisual[0]"> <span class="badge badge-pill badge-light">0</span> No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="HigherCorticalVisual" id="HigherCorticalVisual[1]" value="true" />
                        <label class="form-check-label" for="HigherCorticalVisual[1]"> <span class="badge badge-pill badge-light">1</span> Yes</label>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class=" table-secondary">
                <th colspan="7">
                    <label asp-for="PSP" class="control-label"></label><br>
                    <span asp-validation-for="PSP" class="text-danger"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP" id="PSP[0]" value="false" />
                        <label class="form-check-label" for="PSP[0]"> <span class="badge badge-pill badge-light">0</span> No <span class="text-uppercase font-weight-light font-italic text-primary">(SKIP TO QUESTION 6)</span></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP" id="PSP[1]" value="true" />
                        <label class="form-check-label" for="PSP[1]"> <span class="badge badge-pill badge-light">1</span> Yes</label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <i>Findings should be marked as Yes, No, or Not assessed.</i>
                </td>
                <td colspan="7" class="text-center table-primary">
                    PRESENT
                </td>
            </tr>
            <tr>
                <td class="table-primary">
                    Findings
                </td>
                <td colspan="2" class="table-secondary ">
                    Yes
                </td>
                <td colspan="2" class="table-secondary ">
                    No
                </td>
                <td colspan="2" class="table-secondary ">
                    Not assessed
                </td>
            </tr>
            <tr>
                <td>
                    5a. Eye movement changes consistent with PSP <br>
                    <span asp-validation-for="PSP_EyeMovement" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_EyeMovement" id="PSP_EyeMovement[1]" value="1" />
                        <label class="form-check-label" for="PSP_EyeMovement[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_EyeMovement" id="PSP_EyeMovement[0]" value="0" />
                        <label class="form-check-label" for="PSP_EyeMovement[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_EyeMovement" id="PSP_EyeMovement[8]" value="8" />
                        <label class="form-check-label" for="PSP_EyeMovement[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5b. Dysarthria consistent with PSP <br>
                    <span asp-validation-for="PSP_Dysarthria" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Dysarthria" id="PSP_Dysarthria[1]" value="1" />
                        <label class="form-check-label" for="PSP_Dysarthria[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Dysarthria" id="PSP_Dysarthria[0]" value="0" />
                        <label class="form-check-label" for="PSP_Dysarthria[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Dysarthria" id="PSP_Dysarthria[8]" value="8" />
                        <label class="form-check-label" for="PSP_Dysarthria[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5c. Axial rigidity consistent with PSP<br>
                    <span asp-validation-for="PSP_Axial" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Axial" id="PSP_Axial[1]" value="1" />
                        <label class="form-check-label" for="PSP_Axial[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Axial" id="PSP_Axial[0]" value="0" />
                        <label class="form-check-label" for="PSP_Axial[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Axial" id="PSP_Axial[8]" value="8" />
                        <label class="form-check-label" for="PSP_Axial[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5d. Gait disorder consistent with PSP<br>
                    <span asp-validation-for="PSP_Gait" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Gait" id="PSP_Gait[1]" value="1" />
                        <label class="form-check-label" for="PSP_Gait[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Gait" id="PSP_Gait[0]" value="0" />
                        <label class="form-check-label" for="PSP_Gait[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Gait" id="PSP_Gait[8]" value="8" />
                        <label class="form-check-label" for="PSP_Gait[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5e. Apraxia of speech<br>
                    <span asp-validation-for="PSP_Apraxia" class="text-danger"></span>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Apraxia" id="PSP_Apraxia[1]" value="1" />
                        <label class="form-check-label" for="PSP_Apraxia[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Apraxia" id="PSP_Apraxia[0]" value="0" />
                        <label class="form-check-label" for="PSP_Apraxia[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td colspan="2">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="PSP_Apraxia" id="PSP_Apraxia[8]" value="8" />
                        <label class="form-check-label" for="PSP_Apraxia[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="2"></td>
                <td colspan="3" class="table-primary text-center">
                    LEFT
                </td>
                <td colspan="3" class="table-primary  text-center">
                    RIGHT
                </td>
            </tr>
            <tr>
                <td class=" table-secondary text-center">
                    Yes
                </td>
                <td class=" table-secondary text-center">
                    No
                </td>
                <td class=" table-secondary text-center">
                    Not assessed
                </td>
                <td class=" table-secondary text-center">
                    Yes
                </td>
                <td class=" table-secondary text-center">
                    No
                </td>
                <td class=" table-secondary text-center">
                    Not assessed
                </td>
            </tr>
            <tr>
                <td>
                    5f. Apraxia consistent with CBS<br>
                    <span asp-validation-for="CBS_ApraxiaLeft" class="text-danger"></span><br>
                    <span asp-validation-for="CBS_ApraxiaRight" class="text-danger"></span>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_ApraxiaLeft" id="CBS_ApraxiaLeft[1]" value="1" />
                        <label class="form-check-label" for="CBS_ApraxiaLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_ApraxiaLeft" id="CBS_ApraxiaLeft[0]" value="0" />
                        <label class="form-check-label" for="CBS_ApraxiaLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_ApraxiaLeft" id="CBS_ApraxiaLeft[8]" value="8" />
                        <label class="form-check-label" for="CBS_ApraxiaLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_ApraxiaRight" id="CBS_ApraxiaRight[1]" value="1" />
                        <label class="form-check-label" for="CBS_ApraxiaRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_ApraxiaRight" id="CBS_ApraxiaRight[0]" value="0" />
                        <label class="form-check-label" for="CBS_ApraxiaRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_ApraxiaRight" id="CBS_ApraxiaRight[8]" value="8" />
                        <label class="form-check-label" for="CBS_ApraxiaRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5g. Cortical sensory deficits consistent with CBS<br>
                    <span asp-validation-for="CBS_CorticalSensoryDeficitsLeft" class="text-danger"></span><br>
                    <span asp-validation-for="CBS_CorticalSensoryDeficitsRight" class="text-danger"></span>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_CorticalSensoryDeficitsLeft" id="CBS_CorticalSensoryDeficitsLeft[1]" value="1" />
                        <label class="form-check-label" for="CBS_CorticalSensoryDeficitsLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_CorticalSensoryDeficitsLeft" id="CBS_CorticalSensoryDeficitsLeft[0]" value="0" />
                        <label class="form-check-label" for="CBS_CorticalSensoryDeficitsLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_CorticalSensoryDeficitsLeft" id="CBS_CorticalSensoryDeficitsLeft[8]" value="8" />
                        <label class="form-check-label" for="CBS_CorticalSensoryDeficitsLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_CorticalSensoryDeficitsRight" id="CBS_CorticalSensoryDeficitsRight[1]" value="1" />
                        <label class="form-check-label" for="CBS_CorticalSensoryDeficitsRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_CorticalSensoryDeficitsRight" id="CBS_CorticalSensoryDeficitsRight[0]" value="0" />
                        <label class="form-check-label" for="CBS_CorticalSensoryDeficitsRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_CorticalSensoryDeficitsRight" id="CBS_CorticalSensoryDeficitsRight[8]" value="8" />
                        <label class="form-check-label" for="CBS_CorticalSensoryDeficitsRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5h. Ataxia consistent with CBS<br>
                    <span asp-validation-for="CBS_AtaxiaLeft" class="text-danger"></span><br>
                    <span asp-validation-for="CBS_AtaxiaRight" class="text-danger"></span>

                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AtaxiaLeft" id="CBS_AtaxiaLeft[1]" value="1" />
                        <label class="form-check-label" for="CBS_AtaxiaLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AtaxiaLeft" id="CBS_AtaxiaLeft[0]" value="0" />
                        <label class="form-check-label" for="CBS_AtaxiaLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AtaxiaLeft" id="CBS_AtaxiaLeft[8]" value="8" />
                        <label class="form-check-label" for="CBS_AtaxiaLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AtaxiaRight" id="CBS_AtaxiaRight[1]" value="1" />
                        <label class="form-check-label" for="CBS_AtaxiaRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AtaxiaRight" id="CBS_AtaxiaRight[0]" value="0" />
                        <label class="form-check-label" for="CBS_AtaxiaRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AtaxiaRight" id="CBS_AtaxiaRight[8]" value="8" />
                        <label class="form-check-label" for="CBS_AtaxiaRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5i. Alien limb consistent with CBS<br>
                    <span asp-validation-for="CBS_AlienLimbLeft" class="text-danger"></span><br>
                    <span asp-validation-for="CBS_AlienLimbRight" class="text-danger"></span>

                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AlienLimbLeft" id="CBS_AlienLimbLeft[1]" value="1" />
                        <label class="form-check-label" for="CBS_AlienLimbLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AlienLimbLeft" id="CBS_AlienLimbLeft[0]" value="0" />
                        <label class="form-check-label" for="CBS_AlienLimbLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AlienLimbLeft" id="CBS_AlienLimbLeft[8]" value="8" />
                        <label class="form-check-label" for="CBS_AlienLimbLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AlienLimbRight" id="CBS_AlienLimbRight[1]" value="1" />
                        <label class="form-check-label" for="CBS_AlienLimbRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AlienLimbRight" id="CBS_AlienLimbRight[0]" value="0" />
                        <label class="form-check-label" for="CBS_AlienLimbRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_AlienLimbRight" id="CBS_AlienLimbRight[8]" value="8" />
                        <label class="form-check-label" for="CBS_AlienLimbRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5j. Dystonia consistent with CBS, PSP, or related disorder<br>
                    <span asp-validation-for="CBS_DystoniaLeft" class="text-danger"></span><br>
                    <span asp-validation-for="CBS_DystoniaRight" class="text-danger"></span>

                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_DystoniaLeft" id="CBS_DystoniaLeft[1]" value="1" />
                        <label class="form-check-label" for="CBS_DystoniaLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_DystoniaLeft" id="CBS_DystoniaLeft[0]" value="0" />
                        <label class="form-check-label" for="CBS_DystoniaLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_DystoniaLeft" id="CBS_DystoniaLeft[8]" value="8" />
                        <label class="form-check-label" for="CBS_DystoniaLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_DystoniaRight" id="CBS_DystoniaRight[1]" value="1" />
                        <label class="form-check-label" for="CBS_DystoniaRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_DystoniaRight" id="CBS_DystoniaRight[0]" value="0" />
                        <label class="form-check-label" for="CBS_DystoniaRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_DystoniaRight" id="CBS_DystoniaRight[8]" value="8" />
                        <label class="form-check-label" for="CBS_DystoniaRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    5k. Myoclonus consistent with CBS<br>
                    <span asp-validation-for="CBS_MyoclonusLeft" class="text-danger"></span><br>
                    <span asp-validation-for="CBS_MyoclonusRight" class="text-danger"></span>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_MyoclonusLeft" id="CBS_MyoclonusLeft[1]" value="1" />
                        <label class="form-check-label" for="CBS_MyoclonusLeft[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_MyoclonusLeft" id="CBS_MyoclonusLeft[0]" value="0" />
                        <label class="form-check-label" for="CBS_MyoclonusLeft[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_MyoclonusLeft" id="CBS_MyoclonusLeft[8]" value="8" />
                        <label class="form-check-label" for="CBS_MyoclonusLeft[8]"> <span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_MyoclonusRight" id="CBS_MyoclonusRight[1]" value="1" />
                        <label class="form-check-label" for="CBS_MyoclonusRight[1]"> <span class="badge badge-pill badge-light">1</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_MyoclonusRight" id="CBS_MyoclonusRight[0]" value="0" />
                        <label class="form-check-label" for="CBS_MyoclonusRight[0]"> <span class="badge badge-pill badge-light">0</span></label>
                    </div>
                </td>
                <td>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="CBS_MyoclonusRight" id="CBS_MyoclonusRight[8]" value="8" />
                        <label class="form-check-label" for="CBS_MyoclonusRight[8]"><span class="badge badge-pill badge-light">8</span></label>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class=" table-secondary">
                <th colspan="7">
                    <label asp-for="ALS_Findings" class="control-label"></label><br>
                    <span asp-validation-for="ALS_Findings" class="text-danger"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ALS_Findings" id="ALS_Findings[0]" value="false" />
                        <label class="form-check-label" for="ALS_Findings[0]"> <span class="badge badge-pill badge-light">0</span>No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="ALS_Findings" id="ALS_Findings[1]" value="true" />
                        <label class="form-check-label" for="ALS_Findings[1]"> <span class="badge badge-pill badge-light">1</span>Yes</label>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class=" table-secondary">
                <th colspan="7">
                    <label asp-for="GaitApraxia" class="control-label"></label><br>
                    <span asp-validation-for="GaitApraxia" class="text-danger"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="GaitApraxia" id="GaitApraxia[0]" value="false" />
                        <label class="form-check-label" for="GaitApraxia[0]"> <span class="badge badge-pill badge-light">0</span>No</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" asp-for="GaitApraxia" id="GaitApraxia[1]" value="true" />
                        <label class="form-check-label" for="GaitApraxia[1]"> <span class="badge badge-pill badge-light">1</span>Yes</label>
                    </div>
                </td>
            </tr>
        </tbody>
        <thead>
            <tr class=" table-secondary">
                <th colspan="7">
                    <label asp-for="OtherFindings" class="control-label"></label><br>
                    <span asp-validation-for="OtherFindings" class="text-danger"></span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="7">
                    <div class="row">
                        <div class="col">
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="OtherFindings" id="OtherFindings[0]" value="false" data-toggle-bool="[false]" data-toggle-targets="OtherFindingsSpeicify" />
                                <label class="form-check-label" for="OtherFindings[0]"> <span class="badge badge-pill badge-light">0</span>No</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" asp-for="OtherFindings" id="OtherFindings[1]" value="true" data-toggle-bool="[false]" data-toggle-targets="OtherFindingsSpeicify" />
                                <label class="form-check-label" for="OtherFindings[1]"> <span class="badge badge-pill badge-light">1</span>Yes</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="OtherFindingsSpeicify">Other Findings Specify</label>
                            <input type="text" asp-for="OtherFindingsSpeicify" class="form-control" />
                            <span asp-validation-for="OtherFindingsSpeicify" class="text-danger"></span>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <partial name="_SaveComplete" model='Model' view-data="ViewData" />
</form>
<partial name="_CopyrightStatement" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(() => {        
            /*
                -- Subject has abnormal findings 
                1.No findings end the form
                2.Yes continues the form
                3.Yes w/ Age Skip to question 8
                - Casey Spires
            */
            var formAbnormal = $('input[name=AbnormalNeurologicalExamFindings]:checked');
            if(formAbnormal.length > 0) {
                var examResultValue = formAbnormal.first().val();
                notAbnormalDisable(examResultValue);
            }
            $('input[name=AbnormalNeurologicalExamFindings]').on('change', (event) => {
                var examResultValue = $(event.target).val();
                notAbnormalDisable(examResultValue);
            });
            /* Question 2 */
            var parkinsonian = $('input[name=ParkinsonianSigns]:checked');
            if(parkinsonian.val() == "false" && parkinsonian.is(':checked'))
            {
                toggleChildren('Parkinsonian', true);
            } 
            if(parkinsonian.val() == "true" && parkinsonian.is(':checked')) {
                toggleChildren('Parkinsonian', false);
            }
            $('input[name=ParkinsonianSigns]').on('change', (event) => {
                if($(event.target).val() == "false" && $(event.target).is(':checked'))
                {
                    toggleChildren('Parkinsonian', true);
                } 
                if($(event.target).val() == "true" && $(event.target).is(':checked')) {
                    toggleChildren('Parkinsonian', false);
                }
             });
             /* Question 3 */
            var cortical = $('input[name=CerebrovascularDiseaseSigns]:checked');
            if(cortical.val() == "false" && cortical.is(':checked'))
            {
                toggleChildren('Cortical', true);
            }
            if(cortical.val() == "true" && cortical.is(':checked')) {
                toggleChildren('Cortical', false);
            }
            $('input[name=CerebrovascularDiseaseSigns]').on('change', (event) => {
                if($(event.target).val() == "false" && $(event.target).is(':checked'))
                {
                    toggleChildren('Cortical', true);
                } 
                if($(event.target).val() == "true" && $(event.target).is(':checked')) {
                    toggleChildren('Cortical', false);
                }
            });
            /* Question 5 */
            var psp = $('input[name=PSP]:checked').first();
            if(psp.val() == "false" && psp.is(':checked'))
            {
                toggleChildren('PSP_', true);
                toggleChildren('CBS_', true);
            } 
            if(psp.val() == "true" && psp.is(':checked')) {
                toggleChildren('PSP_', false);
                toggleChildren('CBS_', false)
            }
             $('input[name=PSP]').on('change', (event) => {
                if($(event.target).val() == "false" && $(event.target).is(':checked'))
                {
                    toggleChildren('PSP_', true);
                    toggleChildren('CBS_', true);
                } 
                if($(event.target).val() == "true" && $(event.target).is(':checked')){
                    toggleChildren('PSP_', false);
                    toggleChildren('CBS_', false)
                }
             });
        });
        function triggerChange() {
            $('input[name=ParkinsonianSigns]').triggerHandler('change');
            $('input[name=CerebrovascularDiseaseSigns]').triggerHandler('change');
            $('input[name=PSP]').triggerHandler('change');
        }
        function notAbnormalDisable(examResultValue) {
            /* Disables Everything*/
            if(examResultValue == 0 || examResultValue == 2) {
                $('input:not([data-always-enabled])').each((index, elem) => {
                    const jInput = $(elem);
                    jInput.prop('disabled', true);
                    if(jInput.attr('name') == 'OtherFindings' && examResultValue == 2) {
                        jInput.prop('disabled', false);
                        const otherFindingsSpecify = $('input[name=OtherFindingsSpeicify]')
                        if(jInput.val() == 1) {
                            otherFindingsSpecify.prop('disabled', false);
                        } else {
                            otherFindingsSpecify.prop('disabled', true);
                        }
                    }
                    if(jInput.attr('name') == '__RequestVerificationToken') {
                        jInput.prop('disabled', false);
                    }
                });
            }
            /* Enable entire form */
            if(examResultValue == 1) {
                $('input:not([data-always-enabled])').each((index, elem) => {
                    var jInput = $(elem);
                    jInput.prop('disabled', false);
                    
                });
            }  
            triggerChange();
        }
        function toggleChildren(controlPrefix, toggleState) {
            var controls = $(`input[name^=${controlPrefix}]:not([data-parent])`);
            controls.each((index, elem) => {
                $(elem).prop('disabled', toggleState)
            });
            
        }   
    </script>
    <script src="~/js/RadioFieldToggle.js"></script>
}