@{
}

<div class="row">
    <div class="col">
        <p class="my-4 font-weight-lighter font-italic">Adapted with permission. Copyright © 2006, 2008, 2015, 2017 University of Washington. Created and published by the ADC Clinical Task Force (John C. Morris, MD, Chair) and the National Alzheimer's Coordinating Center (U01 AG016976 —Walter A. Kukull, PhD, Director). All rights reserved.</p>
    </div>
</div>
