<div class="row mt-2">
    <div class="col">
        <b>
            CODES for neurological problems and psychiatric conditions<sup>1</sup>
        </b>
        <ul class="list-unstyled pl-3">
            <li>
                1	Cognitive impairment/behavior change
            </li>
            <li>
                2	Parkinsonism
            </li>
            <li>
                3	ALS
            </li>
            <li>
                4	Other neurologic condition such as multiple sclerosis or stroke
            </li>
            <li>
                5	Psychiatric condition such as schizophrenia, bipolar disorder, alcoholism, or depression
            </li>
            <li>
                8	N/A — no neurological problem or psychiatric condition
            </li>
            <li>
                9	Unknown
            </li>
        </ul>
    </div>
    <div class="col">
        <b>
            Codes for primary diagnosis<sup>2</sup>
        </b>
        <ul class="list-unstyled pl-3">
            <li>
                See Appendix 1 at the end of this form.
            </li>
        </ul>
    </div>
    <div class="col">
        <b>
            CODES for method of evaluation<sup>3</sup>
        </b>
        <ul class="list-unstyled pl-3">
            <li>
                1	Autopsy
            </li>
            <li>
                2	Examination
            </li>
            <li>
                3	Medical record review from formal dementia evaluation
            </li>
            <li>
                4	Review of general medical records AND co-participant and/or subject telephone interview
            </li>
            <li>
                5	Review of general medical records only
            </li>
            <li>
                6	Subject and/or co-participant telephone interview
            </li>
            <li>
                7	Family report
            </li>
        </ul>
    </div>
</div>