<tr>
    <th></th>
    <th>Birth month/year (99/9999=Unknown)</th>
    <th>
        Age at death
        (888=N/A, 999=Unknown)
    </th>
    <th>
        Primary neurological problem/psychiatric condition<sup></sup>
    </th>
    <th>
        <a href="#PrimaryDiagnosisCodes" data-toggle="tooltip" data-placement="top" title="Go to Primary Dx codes">Primary Dx<sup>2</sup></a>
    </th>
    <th>
        Method of evaluation<sup>3</sup>
    </th>
    <th>
        Age of onset (999=Unknown)
    </th>
</tr>