@model ParticipantDemographics

@{
    var title = "Participant Demographics";
    var visitInfo = "";
    if (visitInfo == null)
    {
        visitInfo = " - " + Model.Visit.Participant.Id + " - Visit " + Model.Visit.VisitNumber;
    }
    ViewData["Title"] = title + visitInfo;
}


@await Component.InvokeAsync("VisitHeader", new { visitId = Model.Visit.Id, participationId = Model.Visit.Participant.Id, participantProfile = Model.Visit.Participant.Profile })
@await Component.InvokeAsync("FormHeader", new { currentVisit = Model.Visit, currentForm = Model, formTitle = title })

<div class="row">
    <div class="col-md-12 pb-3">
        <p class="lead">INSTRUCTIONS: This form is to be completed by intake interviewer based on ADC scheduling records, participant interview, medical records, and proxy co-participant report (as needed). For additional clarification and examples, see UDS Coding Guidebook for Initial Visit Packet, Form A1. Check only <u>one</u> box per question.</p>
    </div>
    <div class="col-md-12">
        <form asp-action="Edit">
            <table class="table table-striped table-bordered">
                <tbody class="counterreset">
                    @if (Model.Visit.VisitType == VisitType.IVP)
                    {
                        <partial name="_InitialVisit" model="@Model" />
}

                    <tr>
                        <td><span class="counter"></span></td>
                        <td>
                            <div class="form-group">
                                <label class="control-label">Participant's month and year of birth (MM / YYYY)</label>
                                <div><span class="text-danger" asp-validation-for="BirthMonth"></span></div>
                                <div><span class="text-danger" asp-validation-for="BirthYear"></span></div>
                            </div>
                        </td>
                        <td>
                            <div class="form-inline">
                                <div class="input-group">
                                    <input asp-for="BirthMonth" class="form-control" type="number" id="BirthMonth[1]" name="BirthMonth" style="width:100px;" min="1" max="12">
                                    
                                </div>
                                <div class="input-group">
                                    &nbsp;/&nbsp;
                                </div>
                                <div class="input-group">
                                    <input asp-for="BirthYear" class="form-control" type="number" id="BirthYear[1]" name="BirthYear" style="width:120px;" min="1875" max="2006">
                                    
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="counter"></span></td>
                        <td>
                            <div class="form-group">
                                <label asp-for="Sex" class="control-label"></label>
                                <div><span class="text-danger" asp-validation-for="Sex"></span></div>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" asp-for="Sex" type="radio" id="Sex[1]" value="1" name="Sex">
                                <label class="form-check-label" for="Sex[1]"> <span class="badge badge-pill badge-light">1</span> Male</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="Sex" type="radio" id="Sex[2]" value="2" name="Sex">
                                <label class="form-check-label" for="Sex[2]"> <span class="badge badge-pill badge-light">2</span> Female</label>
                            </div>
                        </td>
                    </tr>

                    @if (Model.Visit.VisitType == VisitType.IVP)
                    {
        <partial name="_InitialVisitEthnicity" model="@Model" />

                        <partial name="_InitialVisitLanguage" model="@Model" />
}

                    <tr>
                        <td><span class="counter"></span></td>
                        <td>
                            <div class="form-group">
                                <label asp-for="MarriageStatus" class="control-label"></label>
                                <div><span class="text-danger" asp-validation-for="MarriageStatus"></span></div>
                            </div>
                        </td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" asp-for="MarriageStatus" type="radio" id="MarriageStatus[1]" value="1" name="MarriageStatus">
                                <label class="form-check-label" for="MarriageStatus[1]"> <span class="badge badge-pill badge-light">1</span> Married</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="MarriageStatus" type="radio" id="MarriageStatus[2]" value="2" name="MarriageStatus">
                                <label class="form-check-label" for="MarriageStatus[2]"> <span class="badge badge-pill badge-light">2</span> Widowed</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="MarriageStatus" type="radio" id="MarriageStatus[3]" value="3" name="MarriageStatus">
                                <label class="form-check-label" for="MarriageStatus[3]"> <span class="badge badge-pill badge-light">3</span> Divorced</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="MarriageStatus" type="radio" id="MarriageStatus[4]" value="4" name="MarriageStatus">
                                <label class="form-check-label" for="MarriageStatus[4]"> <span class="badge badge-pill badge-light">4</span> Separated</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="MarriageStatus" type="radio" id="MarriageStatus[5]" value="5" name="MarriageStatus">
                                <label class="form-check-label" for="MarriageStatus[5]"> <span class="badge badge-pill badge-light">5</span> Never married (or marriage was annulled)</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="MarriageStatus" type="radio" id="MarriageStatus[6]" value="6" name="MarriageStatus">
                                <label class="form-check-label" for="MarriageStatus[6]"> <span class="badge badge-pill badge-light">6</span> Living as married/domestic partner</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="MarriageStatus" type="radio" id="MarriageStatus[8]" value="9" name="MarriageStatus">
                                <label class="form-check-label" for="MarriageStatus[8]"> <span class="badge badge-pill badge-light">9</span> Unknown</label>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="counter"></span></td>
                        <td>
                            <div class="form-group">
                                <label asp-for="LivingSituation" class="control-label"></label>
                                <div><span class="text-danger" asp-validation-for="LivingSituation"></span></div>
                            </div>
                        </td>
                        <td>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LivingSituation" type="radio" id="LivingSituation[1]" value="1" name="LivingSituation">
                                <label class="form-check-label" for="LivingSituation[1]"> <span class="badge badge-pill badge-light">1</span> Lives alone</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LivingSituation" type="radio" id="LivingSituation[2]" value="2" name="LivingSituation">
                                <label class="form-check-label" for="LivingSituation[2]"> <span class="badge badge-pill badge-light">2</span> Lives with one other person: a spouse or partner</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LivingSituation" type="radio" id="LivingSituation[3]" value="3" name="LivingSituation">
                                <label class="form-check-label" for="LivingSituation[3]"> <span class="badge badge-pill badge-light">3</span> Lives with one other person: a relative, friend, or roommate</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LivingSituation" type="radio" id="LivingSituation[4]" value="4" name="LivingSituation">
                                <label class="form-check-label" for="LivingSituation[4]"> <span class="badge badge-pill badge-light">4</span> Lives with caregiver who is not spouse/partner, relative, or friend</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LivingSituation" type="radio" id="LivingSituation[5]" value="5" name="LivingSituation">
                                <label class="form-check-label" for="LivingSituation[5]"> <span class="badge badge-pill badge-light">5</span> Lives with a group (related or not related) in a private residence</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LivingSituation" type="radio" id="LivingSituation[6]" value="6" name="LivingSituation">
                                <label class="form-check-label" for="LivingSituation[6]"> <span class="badge badge-pill badge-light">6</span> Lives in group home (e.g., assisted living, nursing home, convent)</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LivingSituation" type="radio" id="LivingSituation[8]" value="9" name="LivingSituation">
                                <label class="form-check-label" for="LivingSituation[8]"> <span class="badge badge-pill badge-light">9</span> Unknown</label>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td><span class="counter"></span></td>
                        <td>
                            <div class="form-group">
                                <label asp-for="LevelOfIndependence" class="control-label"></label>
                                <div><span class="text-danger" asp-validation-for="LevelOfIndependence"></span></div>
                            </div>
                        </td>
                        <td>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LevelOfIndependence" type="radio" id="LevelOfIndependence[1]" value="1" name="LevelOfIndependence">
                                <label class="form-check-label" for="LevelOfIndependence[1]"> <span class="badge badge-pill badge-light">1</span> Able to live independently</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LevelOfIndependence" type="radio" id="LevelOfIndependence[2]" value="2" name="LevelOfIndependence">
                                <label class="form-check-label" for="LevelOfIndependence[2]"> <span class="badge badge-pill badge-light">2</span> Requires some assistance with complex activities</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LevelOfIndependence" type="radio" id="LevelOfIndependence[3]" value="3" name="LevelOfIndependence">
                                <label class="form-check-label" for="LevelOfIndependence[3]"> <span class="badge badge-pill badge-light">3</span> Requires some assistance with basic activities</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LevelOfIndependence" type="radio" id="LevelOfIndependence[4]" value="4" name="LevelOfIndependence">
                                <label class="form-check-label" for="LevelOfIndependence[4]"> <span class="badge badge-pill badge-light">4</span> Completely dependent</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="LevelOfIndependence" type="radio" id="LevelOfIndependence[8]" value="9" name="LevelOfIndependence">
                                <label class="form-check-label" for="LevelOfIndependence[8]"> <span class="badge badge-pill badge-light">9</span> Unknown</label>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td><span class="counter"></span></td>
                        <td>
                            <div class="form-group">
                                <label asp-for="Residence" class="control-label"></label>
                                <div><span class="text-danger" asp-validation-for="Residence"></span></div>
                            </div>
                        </td>
                        <td>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="Residence" type="radio" id="Residence[1]" value="1" name="Residence">
                                <label class="form-check-label" for="Residence[1]"> <span class="badge badge-pill badge-light">1</span> Single- or multi-family private residence (apartment, condo, house)</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="Residence" type="radio" id="Residence[2]" value="2" name="Residence">
                                <label class="form-check-label" for="Residence[2]"> <span class="badge badge-pill badge-light">2</span> Retirement community or independent group living</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="Residence" type="radio" id="Residence[3]" value="3" name="Residence">
                                <label class="form-check-label" for="Residence[3]"> <span class="badge badge-pill badge-light">3</span> Assisted living, adult family home, or boarding home</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="Residence" type="radio" id="Residence[4]" value="4" name="Residence">
                                <label class="form-check-label" for="Residence[4]"> <span class="badge badge-pill badge-light">4</span> Skilled nursing facility, nursing home, hospital, or hospice</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" asp-for="Residence" type="radio" id="Residence[8]" value="9" name="Residence">
                                <label class="form-check-label" for="Residence[8]"> <span class="badge badge-pill badge-light">9</span> Unknown</label>
                            </div>

                        </td>
                    </tr>
                    <tr>
                        <td><span class="counter"></span></td>
                        <td>
                            <div class="form-group">
                                <label asp-for="Zip" class="control-label"></label>
                                <div><span class="text-danger" asp-validation-for="Zip"></span></div>
                            </div>
                        </td>
                        <td>

                            <div class="form-group">
                                <input class="form-control" asp-for="Zip">
                                <div class="font-italic">(If unknown, leave blank)</div>
                            </div>

                        </td>
                    </tr>
                    @if (Model.Visit.VisitType == VisitType.IVP)
                    {

        <tr>
            <td><span class="counter"></span></td>
            <td>
                <div class="form-group">
                    <label asp-for="Handedness" class="control-label"></label>
                    <div><span class="text-danger" asp-validation-for="Handedness"></span></div>
                </div>
            </td>
            <td>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Handedness[1]" value="1" asp-for="Handedness" name="Handedness">
                    <label class="form-check-label" for="Handedness[1]"> <span class="badge badge-pill badge-light">1</span> Left-handed</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Handedness[2]" value="2" asp-for="Handedness" name="Handedness">
                    <label class="form-check-label" for="Handedness[2]"> <span class="badge badge-pill badge-light">2</span> Right-handed</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Handedness[3]" value="3" asp-for="Handedness" name="Handedness">
                    <label class="form-check-label" for="Handedness[3]"> <span class="badge badge-pill badge-light">3</span> Ambidextrous</label>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" id="Handedness[4]" value="9" asp-for="Handedness" name="Handedness">
                    <label class="form-check-label" for="Handedness[4]"> <span class="badge badge-pill badge-light">9</span> Unknown</label>
                </div>

            </td>
        </tr>
}
                </tbody>
            </table>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FormStatus" />
            <input type="hidden" asp-for="Visit.VisitType" />
            <input type="hidden" asp-for="Visit.Id" />

            @Html.ValidationSummary(false, "", new { @class = "text-danger" })

            <div class="btn-group">
                <input formnovalidate type="submit" name="save" value="Save" class="btn btn-primary" />
                <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <div class="px-3 py-4">
                        <div class="form-group">
                            <label asp-for="ExaminerInitials" class="control-label"></label>
                            <input asp-for="ExaminerInitials" class="form-control" />
                            <div><span asp-validation-for="ExaminerInitials" class="text-danger"></span></div>
                        </div>
                        <input type="submit" name="complete" value="Complete" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/RadioFieldToggle.js"></script>
}
