@model IEnumerable<ParticipantDemographics>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
        </tr>
}
    </tbody>
</table>
